*,*::after,::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top left, #B19955, #A0C796);
    background-size: 500%;
}